body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

.header {
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}

.link a {
    font-size: 16px;
    color: aquamarine;
    
}

.subhead {
    font-weight: 300;
 font-size: 42px;
 color: white;
}


.text {
    color: gray;
    font-size: 21px;
}

img {
    padding-bottom: 50px;
}

.footer {
    text-align: right;
    color: grey;
}